<table class="table table-bordered">
    <tr>
        <th>Departmans ID</th>
        <th>Departmans</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>
    </tr>
    }
</table>
