@model CoreDepartman.Models.Personel

<form class="form-group" method="post">

    <b>Staff Name</b>
    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
    <br />
    <b>Staff Last Name</b>
    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
    <br />
    <b>City</b>
    @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
    <br />
    <b>which positon</b>
    @Html.DropDownListFor(x=>x.Departman.DepartmanName,(List<SelectListItem>)ViewBag.dgr,new {@class="form-control"})
    <br />
    <button class="btn btn-info">Add Staff</button>
</form>