<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
        <h3 class="w3-bar-item">Menu</h3>
        <a asp-area="" asp-controller="Depart" asp-action="Index" class="w3-bar-item w3-button">Departmans</a>
        <a asp-area="" asp-controller="Person" asp-action="Index" class="w3-bar-item w3-button">Staff</a>
        <a href="#" class="w3-bar-item w3-button">About</a>
        <a href="#" class="w3-bar-item w3-button">Exit</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:15%">

        <div class="w3-container w3-teal">
            <h1>Asp.Net Core Mvc Proje Geliştirme</h1>
        </div>

        <div class="w3-container">
            @RenderBody()
        </div>

    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

